.main-container {
    margin: 20px;
    margin-left: 50px; /* Agrega este estilo para agregar un margen izquierdo */
  }
.container {
    margin-left: 20px;
}
.formulario-socio {
    margin-left: 20px;
  }
  
  








