

.main-container {
  margin: 20px;
  margin-left: 50px; 
}
.container {
  margin-left: 20px;
}
.formulario-socio {
  margin-left: 20px;
}

.bg-image {
  background-image: url("../images/estante-librosBonita.png");
  background-size: 100vw 100vh;
  background-attachment: fixed;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.editar.background-wrapper {
  position: relative;
}

.editar.background-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/estante-librosBonita.png");
  background-size: 100vw 100vh;
  background-attachment: fixed;
  opacity: 0.3; 
  z-index: -1;
}

table {
  border-collapse: collapse;
  
}

td,
th {
  border: 1px solid #140101;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  color:black;
}

.id-column {
  width: 50px;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 20px;
  padding: 8px 12px;
}



button:hover {
  background-color: #0069d9;
}
.container1 {
  
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}



button[type="submit"]:hover {
  background-color: #8e44ad;
  color: white;
}

.bg-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-container h1,
p {
  font-size: 40px;
  color:#5c0d41;
}
.listados-body {
  background-color: rgba(255, 255, 255, 0.);
  /* background-image: url(../images/estante-librosBonita.png); */
  background-size: 100vw 100vh;
  background-attachment: fixed;
  overflow-y: hidden;
}

.listados-bg-wrapper {
  display: flex;
  /* justify-content: left; */
  align-items: center;
  /* min-height: 100vh; */
  background-color: transparent;
}

.listados-main-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
}

.listados-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.listados-table th,
.listados-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.listados-table th {
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

body.listados-body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.listados-bg-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/estante-librosBonita.png");
  background-size: 100vw 100vh;
  background-attachment: fixed;
  opacity: 0.3; 
  z-index: -1;
}
.agregar-body {
  /* float:left; */
  font-family: Arial, sans-serif;
  background-image: url("../images/estante-librosBonita.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.agregar-header {
  grid-column: 1;
  grid-row: 1;
  align-self: start;
}
.agregar-background-wrapper {
  position: relative;
}
.agregar-background-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/estante-librosBonita.png");
  background-size: 100vw 100vh;
  background-attachment: fixed;
  opacity: 0.3;
  z-index: -1;
}
.agregar-main-container {
  margin: 20px;
  margin-left: 50px;
}
.agregar-container1 {
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 20px;
  /* margin-right: auto; */
  /* margin-top: 20px; */
  /* float: left;*/
}

.agregar-form {
  margin-left: 20px;
}

.agregar-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.agregar-button {
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 20px;
  padding: 8px 12px;
}

.agregar-button:hover {
  background-color: #0069d9;
}

.agregar-label {
  display: block;
  margin-bottom: 5px;
}
.add-body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("../images/estante-librosBonita.png");
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-position: center center;
  flex-direction: column;
}

.add-background-wrapper {
  position: relative;
  flex: 1;
}

.add-background-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/estante-librosBonita.png");
  background-size: 100vw 100vh;
  background-attachment: fixed;
  z-index: -1;
}

.add-form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.add-main-container {
  display: flex;
  flex-direction: column;
}

.add-form-wrapper {
  max-width: 500px;
}

.add-form-container {
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  height: 100%; /* Agregar altura del contenedor */
}

.add-form label {
  display: block;
  margin-bottom: 5px;
}

.add-form input,
.add-form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.add-form button {
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 20px;
  padding: 8px 12px;
}

.add-form button:hover {
  background-color: #0069d9;
}

.btn-success.guardar {
  background-color: #8c9390;
  border-color: #8c9390;
}
.btn-eliminar {
  background-color: #e0cc8d;
  border-color: #e0cc8d;
}
button.btn.btn-primary.btn-agregar {
  background-color: #8c9390;
  border-color: #8c9390;
}















