.main-container {
    margin: 20px;
    margin-left: 50px; /* Agrega este estilo para agregar un margen izquierdo */
  }
.container {
    margin-left: 20px;
}
.formulario-socio {
    margin-left: 20px;
  }
  
  .bg-index {
    background-image: url('../assets/images/inicioSesion.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  








